.doki{
    background-color: transparent;
    /* background-color: blueviolet; */
    width: 150px;
    height: 150px;
    margin: 10% 50% 0 20%;
}

.background-color {
    background-color: cornflowerblue;

}
.dokidoki {
    width: 140px;
    height: 140px;
}