.modal-container{
    background-color: transparent;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    /* padding-top: 50%; */
}
.modal-item{
    margin: 15% auto;
    background-color: cornflowerblue;
    width: 50%;
    height: 50%;
}

.display-none{
    display: none;
}