div {
    width: 150px;
    height: 150px;
    border: 1px solid black;
}
.main {
    width: 500px;
    height: 500px;
}
.position1 {
    position: relative;
    top: 50px;
    left: 50px;
}
.position2 {
    position: relative;
    top: -50px;
    left: 250px;
}
.position3 {
    position: relative;
    top: -10px;
    left: 50px;
}