.container {
    padding: 5px;
    width: 500px;
    height: 500px;
    background-color: gray;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-between;
    align-content: space-between;
}
.item {
    background-color: cadetblue;
    border: 1px solid black;
}
.row-2 {
    width: 49%;
}
.column-3 {
    height: 32%;
}

/* .container {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.item {
    background-color: cadetblue;
    width: 300px;
    padding-top: 50%; > 상위요소의 width요소로 가져감
} */