/* 전체 선택자 */
*{
    color: aqua
}

/* 타입 선택자 */
h1 {
    color: red;
}
p {
    color: green;
}

/* 클래스 선택자 */
.color-orange {
    color: orange;
}
.font-size-3rem {
    font-size: 3rem;
}
.color-black {
    color: black;
}

/* ID 선택자 */
#p-2{
    color: blueviolet
}

/* 그룹 선택자 */
h1, p {
    color: brown;
}