h1 {
    margin: 10px;
    /* 너비 조절 */
    width: 100px;
    /* 높이 조절 */
    height: 150px;
}
.size-p {
    background-color: cornflowerblue;
    width: 50%;
    height: 30%;
}
.size-div > p {
    background-color: chocolate;
    width: 50vw;
    height: 50vh;
}
.size-div {
    width: 200px;
    height: 200px;
}
/* %자기 부모로 비율조정 */
/* v포트는 화면상의 비율로조절 */

.container {
    width: 300px;
    border: 3px solid #000;
}

div {
    border: 3px solid red;
}
/* 상하좌우 5px */
.div-1 {
    margin: 5px;
}
/* 상하5px 좌우10px */
.div-2 {
    margin: 5px 10px;
}
/* 상5px 좌우10px 하15px */
.div-3 {
    margin: 5px 10px 15px;
}
/* 상5px 우10px 하15px 좌20 (시계방향) */
.div-4 {
    margin: 5px 10px 15px 20px;
}
.div-5 {
    width: 100px;
    margin: auto;
}
/* top botton left right 이용해 원하는곳 설정 가능 */
/* 마진중첩 : 큰 쪽으로 흡수, 좌우는 없음 */

/* 상하좌우5px */
.padding-div-1 {
    padding: 5px;
}
/* 상하5px 좌우10px */
.padding-div-2 {
    padding: 5px 10px;
}
/* 상5px 좌우10px 하15px */
.padding-div-3 {
    padding: 5px 10px 15px;
}
/* 상5px 우10px 하15px 좌20 (시계방향) */
.padding-div-4 {
    padding: 5px 10px 15px 20px;
}

.div-shadow {
    margin: 10px;
    width: 100px;
    height: 100px;
    /* 수평거리, 수직거리, 흐림정도, 번짐정도, 색상, 그림자방향(생략가능) */
    box-shadow: 10px 20px 10px 10px violet;
}

.div-content {
    /* 콘텐츠 영역에만으로 요소의 크기(width, height)를 결정 */
    box-sizing: content-box;
    width: 200px;
    height: 200px;
    margin: 20px;
    padding: 20px;
}
.div-border {
    /* 테두리 + 패딩 + 콘텐츠 영역으로 요소의 크기(width, height)를 결정 */
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    margin: 20px;
    padding: 20px;
}