div, span {
    border: 3px solid #000;
    margin: 10px;
}
.none {
    display: none;
}
.block {
    display: block;
    /* 블록레벨 요소로 변경 */
}
.inline {
    display: inline;
    /* 인라인 요소로 변경 */
    /* 인라인 요소는 width 조절 불가 */
}
.inline-block {
    display: inline-block;
}
