* {
    margin: 0;
    padding: 0;
}
header {
    width: 100vw;
    height: 20vh;
    background-color: blueviolet;
}
main {
    width: 100vw;
    height: 60vh;
    background-color: beige;
}
footer {
    width: 100vw;
    height: 20vh;
    background-color: cadetblue;
    clear: left
}
aside {
    width: 30%;
    height: 100%;
    background-color: black;
    float: left;
}

section {
    float: left;
    width: 70%;
    height: 100%;
    background-color: chocolate;
}