div {
    padding: 20px;
}
.main {
    width: 300px;
    background-color: pink;
}
.div-static {
    background-color: gray;
    /* static : 일반적인 문서의 흐름에 맞춰 배치(default) */
    position: static;
}
.div-relative {
    background-color: greenyellow;
    /* relative : 기본적으로 static와 같으나, 자신의원래 위치를 기준으로 위치 지정 가능 */
    position: relative;
}
/* #rel2 {
    top: 30px;
    left: 30px;
} */
.div-absolute1 {
    background-color: chocolate;
    /* relative가 지정된 상위 요소를 기준으로 위치를 지정 */
    position: absolute;
    top: 0
}
.div-absolute2{
    background-color: coral;
    position: absolute;
    top: 100px;
}
.div-fixed {
    background-color: purple;
    position: fixed;
    bottom: 10%;
    right: 10%;
    z-index: 1;
}
.div-sticky {
    background-color: cornflowerblue;
    /* 
    브라우저 화면을 스크롤 할 경우 나타나는 효과
    자신의 위치가 화면 밖으로 벗어날 경우, 지정한 위치에 고정되어 표시
    */
    position: sticky;
    top: 0;
}
.div-fixed2 {
    position: fixed;
    background-color: aquamarine;
    bottom: 10%;
    right: 15%;
}
.div-fixed3 {
    position: fixed;
    background-color: darkblue;
    bottom: 10%;
    right: 20%;
}