.container {
    padding: 5px;
    width: 500px;
    height: 500px;
    background-color: gray;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-between;
    align-content: space-between;
}
.item {
    border: 1px solid black;
    background-color: cadetblue;
}
.row-1 {
    width: 100%;
}
.row-2 {
    width: 49%;
}
.column-2 {
    height: 47%;
}
.column-3 {
    height: 32%;
}
.item_box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
