.container {
    width: 500px;
    height: 500px;
    padding: 10px;
    background-color: gray;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 0.5fr 0.5fr;
    gap: 10px;
}
.item {
    border: 1px solid black;
    background-color: cadetblue;
}
.row-1 {
    grid-column: 1 / 3;
}
.col-2 {
    grid-row: 3 / 5;
}