* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #43083A;
    font-weight: 900;
    display: block;
}

.header-top > a {
    width: 70px;
    border-radius: 0px 0px 5px 5px;
    background-color: #C784B2;
    border-left: 1px solid #840670;
    border-right: 1px solid #840670;
    border-bottom: 1px solid #840670;
    color: #FFFAFF;
    padding: 10px;
    text-align: center;
    line-height: 10px;
    display: inline-block;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 0.8rem;
}

.main-border > a {
    text-align: center;
    line-height: 50px;
    color: #43083A;
    font-size: 1rem;
    font-weight: 900;
}

a:hover {
    background-color: #FFFAFF;
    color: #840670;
}

header, main {
    width: 800px;
    margin: 0 auto;
}

.header-top{
    text-align: right;
}

h1 {
    text-align: center;
    color: #C784B2;
    font-size: 3rem;
    margin: 30px;
    text-shadow: -2px 0 #840670
                ,0 2px #840670
                ,2px 0 #840670
                ,0 -2px #840670
                
}

input, textarea {
    background-color: transparent;
    border-style: none;
}

textarea {
    resize: none;
    font-size: 1rem;
    outline: none;
}

.container_list {
    height: 600px;
    display: grid;
    grid-template-columns: 0.3fr auto;
    gap: 10px;
}

.main-top {
    margin: 100px auto;
    color: #43083A;
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
}

.main1{
    display: grid;
    grid-template-rows: 0.2fr auto;
    gap: 10px;
}

.main-border {
    background-color: #FFFAFF;
    border: 2px solid #840670;
    border-radius: 5px;
    padding: 10px;
}

.title {
    color: #43083A;
    font-weight: 800;
    text-align: center;
    padding: 10px;
    justify-content: space-between;
}

.main2{
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr auto;
    gap: 10px;
}

.goals-content{
    text-align: center;
}
.list{
    display: grid;
    grid-template-columns: 0.1fr auto;
    padding: 10px 20px;
    gap: 20px;
}

.list > textarea {
    background-color: #f0d6e8;
}

input[class^="chk-"] + label {
    width: 20px;
    height: 20px;
    border: 2px solid #43083A;
    cursor: pointer;
    color: transparent;
    text-align: center;
    line-height: 10px;
}

input[class^="chk-"]:checked + label {
    background-color: #C784B2;
    color: #43083A;
}

input[class^="chk-"]:checked ~ .in {
    text-decoration: line-through;
    text-decoration-color: #43083A;
}

input[class^="chk-"] {
    display: none;
}

.chk-box0 {
    height: auto;
}

.main-border {
    text-align: center;
}

.container_delete {
    display: grid;
    grid-template-columns: 0.1fr 0.1fr;
    gap: 50px;
    justify-content: center
}

.box > a {
    width: 80px;
    height: 80px;
    text-align: center;
    line-height: 55px;
}

.container_index {
    display: grid;
    grid-template-columns: 0.2fr auto;
    gap: 10px;
    margin-bottom: 10px;
}

.day-list {
    color: #43083A;
    font-weight: 900;
}

.small-button {
    display: inline-block;
    background-color: #C784B2;
    color: #FFFAFF;
}

.main-bottom {
    text-align: center;
    margin: 30px;
}

.now_page_color {
    background-color: #FFFAFF;
    color: #43083A;
}

.save{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.save button {
    display: block;
    border: 2px solid #840670;
    background-color: #C784B2;
    color: #FFFAFF;
    border-radius: 5px;
    width: 100%;
    height: 50px;
    font-size: 2rem;
    font-weight: 700;
    cursor: pointer;
}

.yesno {
    width: 80px;
    height: 80px;
    font-weight: 800;
    color: #43083A;
    background-color: #FFFAFF;
    border-radius: 5px;
    border: 2px solid #840670;
    cursor: pointer;
}