<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/mococoboard.css">
    <title>MOCOCOBOARD</title>
</head>
<body>
    <header>
        <nav>
            <a href="">MOCOCOBOARD</a>
            <ul class="nav">
                <li class="active"><a href="#">햄버거</a></li>
                <li class="nav-item">자유 게시판</li>
                <li class="nav-item">공략 게시판</li>
                <a href="">회원 정보 수정</a>
                <a href="">로그아웃</a>
            </ul>
        </nav>
    </header>
</body>
</html>