*{
    margin: 0;
    padding: 0;
  }
  main {
      margin: 0 15% 0 15%;
  }
  .search-title {
      margin: 1rem 0 1rem 1rem;
  }
  .hr-line {
      /* width: 100%; */
      margin-bottom: 2rem;
  }
  
  .search-button-container {
      width: 100%;
      display: flex;
      gap: 0;
  }
  
  .search-button {
      border: 1px solid black;
      cursor: pointer;
      width: 50%;
      height: 2.5rem;
      background-color: #fff;
      font-size: 1rem;
      font-weight: 900;
  }
  .search-button:not(:last-child) {
      border-right: none;
  }
  
  .gray {
    border: 1px solid black;
    cursor: pointer;
    width: 50%;
    height: 2.5rem;
    background-color: gray;
    font-size: 1rem;
    font-weight: 900;
  }